<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico">
  <meta name="description" content="Photographs by Alistair Robinson">
  <meta property="og:image" content="https://photos.alistairrobinson.me/images/profile.jpg">
  <meta name="og:title" content="{{ site_title }}">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header class="header">
    <a href="/">Home</a>
    <a href="/about">About</a>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
