{% extends "base.html" %}

{% block head %}<title>{{ image.description or image.slug }}</title>{% endblock %}

{% block content %}
<div id="photonav">
  {% if prev_image %}<a href="/{{ prev_image.slug }}/" title="previous">&larr;</a>{% endif %}
  &nbsp;
  {% if next_image %}<a href="/{{ next_image.slug }}/" title="next">&rarr;</a>{% endif %}
</div>
<div class="photo-full">
  <img src="{{ image.full_url }}" alt="{{ image.description }}">
  <p>
    {% if image.description %}{{ image.description }}&nbsp; &middot; &nbsp;{% endif %}
    {% if image.camera_type %}{{ image.camera_type }}&nbsp; &middot; &nbsp;{% endif %}
    {% if image.camera %}{{ image.camera }}&nbsp; &middot; &nbsp;{% endif %}
    {{ image.friendly_date }}
  </p>
</div>
{% endblock %}
