html,
body {
  background: #343434;
  color: #c3c3c3;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }
}

* {
  box-sizing: border-box;
}

a {
  color: #efefef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.lightText {
    color: #888;
}

.lightText span {
    margin-left: 0.76rem;
    font-size: 15px;
}

.lightLink {
    color: #888;
    /*margin-right: 1rem;*/
    margin: 0 0.35rem;
}

.redLink {
    color: #bb5353;
    margin: 0 0.35rem;
}