.photoContainer {
    position: relative;
    width: 7%;
    min-width: 100px;
    height: 120px;
    display: flex;
    padding: 20px;
    margin: 10px;
}

@media (max-width:600px) {
  .photoContainer {
    width: 100%;
    height: 170px;
  }
}

.galleryContainer {
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 7px;
    /*position: fixed;*/
    background-color: #343434;
    width: 100%;
    z-index: 1;
}

.header a {
    margin: 0 5px;
}